{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
{{ import('datatables', ['bs4']) }}
{{ import('crossfilter') }}
{{ import('vue') }}
{{ Highchart(['highcharts-more'], []) }}
{% endblock %}


{# My Own js and css #}
{% block css_custom %}
{% endblock %}

{% block js_custom %}
<script>
</script>
{% endblock %}


{# Embedded CSS #}
{% block css_embedded %}
{% endblock %}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
{% endblock %}


{# Embedded Javascript At the Very End #}
{% block js_embedded_after %}
<script>
console.log(thisFY);
const cs = crossfilter(data);
console.log(cs.groupAll().reduceCount().value())


let dimStatus = cs.dimension(d => d['PLEDGESTATUS']);
let dimFyCreated = cs.dimension(d => d['CREATED_FY']);
dimStatus.filter('Active');
{#dimFyCreated.filter(v => v <= thisFY );#}

console.log(cs.groupAll().reduceCount().value());


Highcharts.chart('chart1', {
	chart: {
		type: 'waterfall'
	},
	title: {
		text: 'FY' + thisFY + ' Continuous Pledge Number Net Growth Waterfall Diagram'
	},
	xAxis: {
		type: 'category'
	},
	yAxis: {
		title: {
			text: 'Number of pledges'
		}
	},
	legend: {
		enabled: false
	},
	tooltip: {
		pointFormat: '<b>{point.y:,.0f}</b> Pledges'
	},
	series: [{
		name: 'FY' + thisFY + ' Pledges',
		upColor: '#c2ff00',
		color: '#f65a5b',
		data: [
		{
			name: 'FY' + thisFY + ' New',
			y: data.filter(d => d['PLEDGEPLAN'] === 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] === thisFY ).length
		}, {
			name: 'New Cancelled',
			color: '#f65a5b',
			y: data.filter(d => d['PLEDGEPLAN'] === 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] === thisFY && d['PLEDGESTATUS'] === 'Written Down' && d['WRITTENDOWN_FY'] === thisFY ).length * (-1)
		},  {
			name: 'New On Hold',
			color: '#FFEB3B',
			y: data.filter(d => d['PLEDGEPLAN'] === 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] === thisFY && d['PLEDGESTATUS'] === 'On Hold' && d['ONHOLD_FY'] === thisFY ).length * (-1)
		}, {
			name: 'Previous Cancelled',
			color: '#f65a5b',
			y: data.filter(d => d['PLEDGEPLAN'] === 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] < thisFY && d['PLEDGESTATUS'] === 'Written Down' && d['WRITTENDOWN_FY'] === thisFY ).length * (-1)
		},  {
			name: 'Previous On Hold',
			color: '#FFEB3B',
			y: data.filter(d => d['PLEDGEPLAN'] === 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] < thisFY && d['PLEDGESTATUS'] === 'On Hold' && d['ONHOLD_FY'] === thisFY ).length * (-1)
		},{
			name: 'Net Growth',
			isSum: true,
			color: '#d0e6da'
		}],
		dataLabels: {
			enabled: true,
			verticalAlign: 'top',
			useHTML: true,
			formatter: function () {
				return '<span style="color:' + (this.y > 0 ? '#000000' : (this.y === 0 ? '#94938f' : '#ce1126')) + '">' + Highcharts.numberFormat(this.y, 0, ',') + '</span>';
			},
			style: {
				fontWeight: 'bold'
			}
		},
		pointPadding: 0
	}]
});

let chart2 = Highcharts.chart('chart2', {
	chart: {
		type: 'waterfall'
	},
	title: {
		text: 'FY' + thisFY + ' Fixed Terms Pledge Number Net Growth Waterfall Diagram'
	},
	xAxis: {
		type: 'category'
	},
	yAxis: {
		title: {
			text: 'Number of pledges'
		}
	},
	legend: {
		enabled: false
	},
	tooltip: {
		pointFormat: '<b>{point.y:,.0f}</b> Pledges',
	},
	series: [{
		name: 'FY' + thisFY + ' Pledges',
		upColor: '#c2ff00',
		color: '#f65a5b',
		data: [
		{
			name: 'FY' + thisFY + ' New',
			y: data.filter(d => d['PLEDGEPLAN'] !== 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] === thisFY ).length
		}, {
			name: 'New Cancelled',
			color: '#f65a5b',
			y: data.filter(d => d['PLEDGEPLAN'] !== 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] === thisFY && d['PLEDGESTATUS'] === 'Written Down' && d['WRITTENDOWN_FY'] === thisFY ).length * (-1)
		}, {
			name: 'New Finished',
			color: '#FF9800',
			y: data.filter(d => d['PLEDGEPLAN'] !== 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] === thisFY && d['PLEDGESTATUS'] === 'Closed' && d['CLOSED_FY'] === thisFY ).length * (-1)
		}, {
			name: 'New On Hold',
			color: '#FFEB3B',
			y: data.filter(d => d['PLEDGEPLAN'] !== 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] === thisFY && d['PLEDGESTATUS'] === 'On Hold' && d['ONHOLD_FY'] === thisFY ).length * (-1)
		}, {
			name: 'Previous Cancelled',
			color: '#f65a5b',
			y: data.filter(d => d['PLEDGEPLAN'] !== 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] < thisFY && d['PLEDGESTATUS'] === 'Written Down' && d['WRITTENDOWN_FY'] === thisFY ).length * (-1)
		}, {
			name: 'Previous Finished',
			color: '#FF9800',
			y: data.filter(d => d['PLEDGEPLAN'] !== 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] < thisFY && d['PLEDGESTATUS'] === 'Closed' && d['CLOSED_FY'] === thisFY ).length * (-1)
		}, {
			name: 'Previous On Hold',
			color: '#FFEB3B',
			y: data.filter(d => d['PLEDGEPLAN'] !== 'Continuous' && d['CREATED_FY'] <= thisFY && d['START_FY'] < thisFY && d['PLEDGESTATUS'] === 'On Hold' && d['ONHOLD_FY'] === thisFY ).length * (-1)
		},{
			name: 'Net Growth',
			isSum: true,
			color:'#d0e6da'
		}],
		dataLabels: {
			enabled: true,
			verticalAlign: 'top',
			useHTML: true,
			formatter: function () {
				return '<span style="color:' + (this.y > 0 ? '#000000' : (this.y === 0 ? '#94938f' : '#ce1126')) + '">' + Highcharts.numberFormat(this.y, 0, ',') + '</span>';
			},
			style: {
				fontWeight: 'bold'
			}
		},
		pointPadding: 0
	}]
});

</script>
{% endblock %}

