{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
{{ import('vue') }}
{% endblock %}


{# My Own js and css #}
{% block css_custom %}
<style>
/* Enter and leave animations can use different */
/* durations and timing functions.              */
.slide-fade-enter-active {
  transition: all 1.0s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */
{
	transform: translateX(10px);
	opacity: 0;
}


/* Effect 2 */
.bounce-enter-active {
  animation: bounce-in .5s;
}
.bounce-leave-active {
  animation: bounce-in .5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* Tracking Timeline Css */
#tracking {
	margin-bottom:0.8rem
}
[class*=tracking-status-] p {
	margin:0;
	font-size:1.1rem;
	text-transform:uppercase;
	text-align:center
}
[class*=tracking-status-] {
	padding:1.6rem 0
}
.tracking-status-intransit {
	background-color:#65aee0;
	color:#f0ece6
}
.tracking-status-outfordelivery {
	background-color:#f5a551;
	color:#6d2d41
}
.tracking-status-deliveryoffice {
	background-color:#f7dc6f;
	color:#166a8f
}
.tracking-status-delivered {
	background-color:#4cbb87;
	color:#c2ff00
}
.tracking-status-attemptfail {
	background-color:#b789c7;
	color:#fff
}
.tracking-status-error,.tracking-status-exception {
	background-color:#d26759;
	color:#fff600
}
.tracking-status-expired {
	background-color:#616e7d;
	color:#fff
}
.tracking-status-pending {
	background-color:#ccc;
	color:#000
}
.tracking-status-inforeceived {
	background-color:#214977;
	color:#dbebf
}
.tracking-list {
	border:1px solid #e5e5e5
}
.tracking-item {
	border-left:1px solid #e5e5e5;
	position:relative;
	padding:1rem 1.5rem .5rem 2.5rem;
	font-size:1rem;
	margin-left:3rem;
	min-height:5rem
}
.tracking-item:last-child {
	padding-bottom:1rem
}
.tracking-item .tracking-date {
	margin-bottom:.5rem
}
.tracking-item .tracking-date span {
	color:#888;
	font-size:85%;
	padding-left:.4rem
}
.tracking-item .tracking-content {
	padding:.5rem .8rem;
	background-color:#f4f4f4;
	border-radius:.5rem
}
.tracking-item .tracking-content span {
	display:block;
	color:#888;
	font-size:85%
}
.tracking-item .tracking-icon {
	line-height:2.6rem;
	position:absolute;
	left:-1.3rem;
	width:2.6rem;
	height:2.6rem;
	text-align:center;
	border-radius:50%;
	font-size:1.1rem;
	background-color:#fff;
	color:#fff
}
.tracking-item .tracking-icon.status-sponsored {
	background-color:#f68
}
.tracking-item .tracking-icon.status-delivered {
	background-color:#4cbb87
}
.tracking-item .tracking-icon.status-outfordelivery {
	background-color:#f5a551
}
.tracking-item .tracking-icon.status-deliveryoffice {
	background-color:#f7dc6f
}
.tracking-item .tracking-icon.status-attemptfail {
	background-color:#b789c7
}
.tracking-item .tracking-icon.status-exception {
	background-color:#d26759
}
.tracking-item .tracking-icon.status-inforeceived {
	background-color:#214977
}
.tracking-item .tracking-icon.status-intransit {
	color:#e5e5e5;
	border:1px solid #e5e5e5;
	font-size:.9rem
}
@media(min-width:992px) {
	.tracking-item {
		margin-left:10rem
	}
 .tracking-item .tracking-date {
		position:absolute;
		left:-10rem;
		width:7.5rem;
		text-align:right
	}
	.tracking-item .tracking-date span {
		display:block
	}
	.tracking-item .tracking-content {
		padding:0;
		background-color:transparent
	}
}
</style>
{% endblock %}

{% block js_custom %}
{{ bp_js('track_order') }}
{% endblock %}


{# Embedded CSS #}
{% block css_embedded %}
{% endblock %}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
<script>
let deafultOrder = '{{ order_number }}';
deafultOrder = deafultOrder === null || deafultOrder.trim() === '' ? null : deafultOrder;
</script>
{% endblock %}


{% block js_embedded_after %}
{% endblock %}
