{% extends err_blueprint_name + '/_layout.html' %}


{% block content %}
<div class="container">

  <div class="row">
    <div class="col-12 text-center">
      <br />
      <h2>Space 403: Denied Resource</h2>
      <p><img src="{{ url_for(err_blueprint_name + '.static',filename='img/403.png') }}" alt=""></p>

			<p>A humble and careful request has been made for the desired resource, but that attempt was denied.</p>
			<p>And so they returned to <a href="/">a familiar space</a>.</p>

    </div>
  </div>

</div>
{% endblock %}