{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
{{ Highchart(['highcharts-3d'], ['data','drilldown']) }}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# My Own js and css #}
{% block css_custom %}
{% endblock %}

{% block js_custom %}
{#{{ bp_js('today') }}#}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded CSS #}
{% block css_embedded %}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded Javascript At the Very End #}
{% block js_embedded_after %}
<script type="text/javascript">

function PieChart3D(chartID, json, isTotal, title, subtitle) {
	// Customize Pie Chart Color
	Highcharts.setOptions({
     colors: isTotal ? ['#ffa726', '#9575cd', '#3498db ', '#839192'] : [' #ffab91 ', ' #ba68c8  ', '#00CCFF', '#CCCCFF']
	});


	Highcharts.chart(chartID, {
		chart: {
			type: 'pie',
			plotBackgroundColor: null,
			options3d: {
				enabled: true,
				alpha: 45,
				beta: 0
			},
			animation: false  // Disable chart.animation, while keeping the default drilldown.animation, otherwise drilldown doesn't work properly with 3d chart
		},

		title: {
			text: title
		},
		 subtitle: {
			text: subtitle
    },
		tooltip: {
			headerFormat: '<b>{series.name}</b><br>',
			pointFormat: '{point.name}: <b>{point.y:,.0f} ({point.percentage:.1f}%)</b>'
		},
		plotOptions: {
			pie: {
				allowPointSelect: true,
				cursor: 'pointer',
				innerSize: 50,
				depth: 35,
				dataLabels: {
					enabled: true,
					distance: -35,
					color: 'black',
					format: isTotal? '<span style="font-size:1rem">${point.y:,.2f}</span>':'<span style="font-size:1rem">{point.y:,.0f}</span>'
				},
				showInLegend: true,
			}
		},
		"series": [
			{
				"name": isTotal ? "Daily Mail Total" : "Daily Mail Count",
				"colorByPoint": true,
				"data": [
					{
						"name": "Donation",
						"y": isTotal ? ((json.TotalDCaCh+json.TotalDCC)===0?null:(json.TotalDCaCh+json.TotalDCC)) : ((json.NoDCaCh+json.NoDCC)===0?null:(json.NoDCaCh + json.NoDCC)) ,
						"drilldown": "Donation"
					},
					{
						"name": "Merchandise",
						"y": isTotal ? ((json.TotalMCaCh+json.TotalMCC)===0?null:(json.TotalMCaCh+json.TotalMCC)) : ((json.NoMCaCh+json.NoMCC)===0?null:(json.NoMCaCh+json.NoMCC)),
						"drilldown": "Merchandise"
					},
					{
						"name": "List",
						"y": isTotal ? (json.TotalList === 0 ? null : json.TotalList) : (json.NoList === 0 ? null : json.NoList),
						"drilldown": null
					},
					{
						"name": "Other",
						"y": isTotal ? (json.TotalOther === 0 ? null : json.TotalOther) : (json.NoOther === 0 ? null : json.NoOther),
						"drilldown": null
					}

				]
			}
		],
		"drilldown": {
				"series": [
				{
					"name": "Donation Payment Type",
					"id": "Donation",
					"data": [
						[
							"Cash and Cheque",
							isTotal ? json.TotalDCaCh : json.NoDCaCh
						],
						[
							"Credit Card",
							isTotal ? json.TotalDCC : json.NoDCC
						]
					]
				},
				{
					"name": "Merchandise Payment Type",
					"id": "Merchandise",
					"data": [
						[
							"Cash and Cheque",
							isTotal ? json.TotalMCaCh : json.NoMCaCh
						],
						[
							"Credit Card",
							isTotal ? json.TotalMCC : json.NoMCC
						]
					]
				},

				]
		}
	});
}

// Fetching Data For Today
fetchJSON(endpoint('/api/mailbox/today/', '0'), function(json){

	let title, subtitle;
	// Today 1 Value and Count
	title = (json.Recorder == null ? 'No Mail Opened on '+dAU(new Date(json.Date)): '' + currency(json.Total) + ' from ' + dAU(new Date(json.Date)));
	subtitle =  json.Recorder == null ? 'No Mail Opened' : 'Opened by ' + json.Recorder + (json.Cash == null || json.Cash === 0 ? ', no cash found' :', cash received: ' + currency(json.Cash)) ;
	PieChart3D('today11', json, true, title, subtitle);

	title = (json.Recorder == null ? 'No Mail Opened on '+dAU(new Date(json.Date)) : '' + json.No + ' items from ' + dAU(new Date(json.Date)));
	subtitle =  json.Recorder == null ? 'No Mail Opened' : 'Opened by ' + json.Recorder ;
	PieChart3D('today21', json, false, title, subtitle);
});


// Fetching Data For Today From Last Year
fetchJSON(endpoint('/api/mailbox/today/', '1'), function(json){

	let title, subtitle;
	// Today 1 Value and Count
	title = (json.Recorder == null ? 'No Mail Opened on '+dAU(new Date(json.Date)) : '' + currency(json.Total) + ' from ' + dAU(new Date(json.Date)));
	subtitle =  json.Recorder == null ? 'No Mail Opened' : 'Opened by ' + json.Recorder + (json.Cash == null || json.Cash === 0 ? ', no cash found' :', cash received: ' + currency(json.Cash)) ;
	PieChart3D('today12', json, true, title, subtitle);

	title = (json.Recorder == null ? 'No Mail Opened on '+dAU(new Date(json.Date)) : '' + json.No + ' items from ' + dAU(new Date(json.Date)));
	subtitle =  json.Recorder == null ? 'No Mail Opened' : 'Opened by ' + json.Recorder ;
	PieChart3D('today22', json, false, title, subtitle);
});


// Fetching Data For Today From The Year Before Last
fetchJSON(endpoint('/api/mailbox/today/', '2'), function(json){

	let title, subtitle;
	// Today 1 Value and Count
	title = (json.Recorder == null ? 'No Mail Opened on '+dAU(new Date(json.Date)) : '' + currency(json.Total) + ' from ' + dAU(new Date(json.Date)));
	subtitle =  json.Recorder == null ? 'No Mail Opened' : 'Opened by ' + json.Recorder + (json.Cash == null || json.Cash === 0 ? ', no cash found' :', cash received: ' + currency(json.Cash)) ;
	PieChart3D('today13', json, true, title, subtitle);

	title = (json.Recorder == null ? 'No Mail Opened on '+dAU(new Date(json.Date)) : '' + json.No + ' items from ' + dAU(new Date(json.Date)));
	subtitle =  json.Recorder == null ? 'No Mail Opened' : 'Opened by ' + json.Recorder ;
	PieChart3D('today23', json, false, title, subtitle);
});



</script>
{% endblock %}
{# ------------------------------------------------------------------- #}