{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
{{ Highchart([], ['variable-pie'], (true,false,false)) }}
{% endblock %}


{# My Own js and css #}
{% block css_custom %}
{% endblock %}

{% block js_custom %}
{% endblock %}


{# Embedded CSS #}
{% block css_embedded %}
{% endblock %}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
{% endblock %}


{# Embedded Javascript At the Very End #}
{% block js_embedded_after %}
<script>
function drawOverlapingColumnChart(obj){
	Highcharts.chart(obj.renderTo, {
	chart: {
	type: 'column'
	},
	title: {
	text: obj.title
	},
	subtitle: {
	text: stamp
	},
	legend: {
	shadow: false
	},
	tooltip: {
	shared: false
	},
	plotOptions: {
		column: {
			grouping: false,
			shadow: false,
			borderWidth: 0,
			stacking: obj.stacking
		}
	},
	yAxis:{
	title: {
	text: obj.yAxisTitle
	}
	},
	xAxis: {
	categories: obj.categories
	},
	credits: {
	enabled: false
	},
	series: obj.data
	});
}



let stackData = JSON.parse(JSON.stringify( stream.monthlyData ));
stackData.forEach((obj) => {
	if (obj.stack === 'Budget') {
		obj['pointPadding'] = 0;
	} else {
		obj['pointPadding'] = 0.2;
	}
	delete obj['pointPlacement'];
});

drawOverlapingColumnChart({
	renderTo: 'chart0',
	title: '3 Major Revenue Streams Month on Month Budget vs Actual Stacking',
	yAxisTitle: 'Total Monthly Revenue (AUD)',
	categories: $FY_MONTH_LIST_NAME,
	stacking: 'normal',
	data: stackData
});

drawOverlapingColumnChart({
	renderTo: 'chart1',
	title: '3 Major Revenue Streams Month on Month Budget vs Actual Spread',
	yAxisTitle: 'Total Monthly Revenue (AUD)',
	categories: $FY_MONTH_LIST_NAME,
	stacking: null,
	data: stream.monthlyData
});

drawOverlapingColumnChart({
	renderTo:'chart3',
	title:'3 Major Revenue Streams Cumulative Budget vs Actual',
	yAxisTitle: 'Total Cumulative Revenue (AUD)',
	categories: $FY_MONTH_LIST_NAME,
	stacking: null,
	data: stream.monthlyDataCumsum
});

drawOverlapingColumnChart({
	renderTo: 'chart2',
	title: '3 Major Revenue Streams Month on Month Actual FULL LFY vs CFY',
	yAxisTitle: 'Total Monthly Revenue (AUD)',
	categories: $FY_MONTH_LIST_NAME,
	stacking: null,
	data: stream.monthlyDataLFY
});


drawOverlapingColumnChart({
	renderTo: 'chart5',
	title: '3 Major Revenue Streams Cumulative Actual FULL LFY vs CFY',
	yAxisTitle: 'Total Cumulative Revenue (AUD)',
	categories: $FY_MONTH_LIST_NAME,
	stacking: null,
	data: stream.monthlyDataCumsumLFY
});






function drawVariablePie(obj){
	Highcharts.chart(obj.renderTo, {
	chart: {
	type: 'variablepie'
	},
	title: {
	text: obj.title
	},
	subtitle: {
	text: stamp
	},
	tooltip: {
	headerFormat: '',
	pointFormat: '<span style="color:{point.color}">\u25CF</span><b> {point.name}</b><br/>' +
		'Total Revenue: $<b>{point.y}</b>	(<span style="color:blue">{point.percentage:.1f}%</span>)<br/>' +
		'Number of Related Transactions: <b>{point.z:,0f}</b><br/>'
	},
	plotOptions: {
	variablepie: {
	allowPointSelect: true,
	cursor: 'pointer',
	innerSize: 50,
	depth: 35,
	dataLabels: {
		enabled: true,
		distance: 10,
		color: 'black',
		format: '{point.name}:<br><span style="font-size:0.6rem; color:{point.color}">${point.y:,f}</span><br><span style="font-size:0.6rem;}">({point.percentage:.1f}%)</span>'
	},
	showInLegend: false,
	}
	},
	series: [{
	minPointSize: 10,
	innerSize: '20%',
	zMin: 0,
	name: obj.seriesName,
	data: obj.data
	}]
	});
}

drawVariablePie({
	renderTo: 'chart4',
	title: '3 Major Revenue Streams CFY Total (Area: Total Radius: No.Transactions)',
	seriesName: '3 Major Revenue Streams',
	data: stream.streamDataCFY
});

drawVariablePie({
	renderTo: 'chart6',
	title: '3 Major Revenue Streams FULL LFY Total (Area: Total Radius: No.Transactions)',
	seriesName: '3 Major Revenue Streams',
	data: stream.streamDataLFY
});










</script>
{% endblock %}

