{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
	{{ Highchart([], ['sankey', 'wordcloud']) }}
{% endblock %}


{# My Own js and css #}
{% block css_custom %}
{% endblock %}

{% block js_custom %}
{% endblock %}


{# Embedded CSS #}
{% block css_embedded %}
<style>
#chart1 #chart2 {
min-width: 310px;
}
#chart1 {
min-height: 600px;
}
#chart2 {
min-height: 850px;
}
#chart3 {
min-height: 600px;
}
#chart4 {
min-height: 600px;
}
#chart7 {
min-height: 500px;
}
	</style>
{% endblock %}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
{% endblock %}


{# Embedded Javascript At the Very End #}
{% block js_embedded_after %}
<script>
// Highlight All Paths of Current Node
function linksHover(point, state) {
  if (point.isNode) {
    point.linksFrom.forEach(function(l) {
      l.setState(state);
    });
  }
}

function drawSankey(chart){
	Highcharts.chart(chart.elementID, {
		chart: {
			inverted: chart.invert
		},
		title: {
			text: chart.title
		},
		subtitle: {
        text: chart.subtitle
    },
		plotOptions: {
			series: {
			},
			sankey: {
		 		point: {
					events: {
						mouseOver: function() {
							linksHover(this, 'hover');
						},
						mouseOut: function() {
							linksHover(this, '');
						}
        	}
      	},
				tooltip: {
		 			headerFormat: '<span style="color:{point.color}" class="highcharts-header">{series.name}</span><br/>',
					nodeFormat: '<b>{point.name}</b> : <span style="font-size:1em">${point.sum:,.2f}</span>',
					pointFormat: '{point.path}<br><b><span style="">${point.weight:,.2f}</span></b>',
				},
      	dataLabels:{
		 			enabled: true,
					useHTML: false,
					style: {
							fontSize: '1.4em'
					},
					nodeFormat: '<b>{point.name}</b>: <span style="font-size:0.5rem">${point.sum:,.2f}</span>',
					format: '<span style="color:{point.color}; font-size:0.6rem">${point.weight:,.2f}</span>',
					rotation:chart.rotation
				},
			}
    },

		series: [{
			keys: ['from', 'to', 'weight'],
			data: chart.data,
			nodes: chart.nodes,
			type: 'sankey',
			name: chart.seriesName
		}]

	});
}

drawSankey({
	elementID: 'chart1',
	title: 'FY' + fy + ' Revenue Stream Sankey Diagram',
	subtitle: stamp,
	data:sankeyData.cht1.data,
	nodes:sankeyData.cht1.nodes,
	seriesName: 'Revenue Stream',
	invert: false,
	rotation: 0
});

drawSankey({
	elementID: 'chart2',
	title: 'FY' + fy + ' Revenue - Destination 1 Sankey Diagram',
	subtitle: stamp,
	data:sankeyData.cht2.data,
	nodes:sankeyData.cht2.nodes,
	seriesName: 'Revenue Stream Destination One',
	invert: false,
	rotation: 0
});

drawSankey({
	elementID: 'chart3',
	title: 'FY' + fy + ' Revenue - Payment Type Sankey Diagram',
	subtitle: stamp,
	data:sankeyData.cht3.data,
	nodes:sankeyData.cht3.nodes,
	seriesName: 'Revenue Stream',
	invert: false,
	rotation: 0
});


drawSankey({
	elementID: 'chart4',
	title: 'FY' + fy + ' Revenue - Source 2 Sankey Diagram',
	subtitle: stamp,
	data:sankeyData.cht4.data,
	nodes:sankeyData.cht4.nodes,
	seriesName: 'Revenue Stream',
	invert: false,
	rotation: 0
});

drawSankey({
	elementID: 'chart7',
	title: 'FY' + fy + ' Campaign Sankey Diagram',
	subtitle: stamp,
	data:sankeyData.cht5.data,
	nodes:sankeyData.cht5.nodes,
	seriesName: 'Revenue Stream',
	invert: true,
	rotation: 330
});


const text = 'Lorem ipsum d:d:d:olor sit amet, consectetur adipiscing elit. Aenean bibendum erat ac justo sollicitudin, quis lacinia ligula fringilla. Pellentesque hendrerit, nisi vitae posuere condimentum, lectus urna accumsan libero, rutrum commodo mi lacus pretium erat. Phasellus pretium ultrices mi sed semper. Praesent ut tristique magna. Donec nisl tellus, sagittis ut tempus sit amet, consectetur eget erat. Sed ornare gravida lacinia. Curabitur iaculis metus purus, eget pretium est laoreet ut. Quisque tristique augue ac eros malesuada, vitae facilisis mauris sollicitudin. Mauris ac molestie nulla, vitae facilisis quam. Curabitur placerat ornare sem, in mattis purus posuere eget. Praesent non condimentum odio. Nunc aliquet, odio nec auctor congue, sapien justo dictum massa, nec fermentum massa sapien non tellus. Praesent luctus eros et nunc pretium hendrerit. In consequat et eros nec interdum. Ut neque dui, maximus id elit ac, consequat pretium tellus. Nullam vel accumsan lorem.';
function wordColudCalc(text){
	let lines  = text.split(/[:,\. ]+/g);
	return Highcharts.reduce(lines, function (arr, word) {
		let obj = Highcharts.find(arr, function (obj) {
				return obj.name === word;
		});
		if (obj) {
				obj.weight += 1;
		} else {
				obj = {
						name: word,
						weight: 1
				};
				arr.push(obj);
		}
		return arr;
}, []);
}


function drawWordCloud (element, data, seriesName, title){
	Highcharts.chart(element, {
    series: [{
        type: 'wordcloud',
        data: data,
        name: seriesName
    }],
    title: {
        text: title
    },
	});

}
drawWordCloud('chart5', des1Total, 'Total Value','Destination 1 Total Value Word Cloud (Exc General)' );
drawWordCloud('chart6', des2Total, 'Total Value','Destination 2 Total Value Word Cloud (Exc General & Donkind)' );

</script>
{% endblock %}

