{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
{% endblock %}


{# My Own js and css #}
{% block css_custom %}
{% endblock %}

{% block js_custom %}
{% endblock %}


{# Embedded CSS #}
{% block css_embedded %}
{% endblock %}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover({
		html:true
	});
	$('.popover-dismiss').popover({
  	trigger: 'focus'
	})
});
</script>
{% endblock %}


{# Embedded Javascript At the Very End #}
{% block js_embedded_after %}
<script>
function findSourceCode(element, col, value="") {
  let filter, table, trs, td, i;
	if(value === ""){
		filter = document.getElementById(element.id).value.toUpperCase();
	}else{
		filter = value;
	}
  table = document.getElementById("sourcecodes");
  trs = table.getElementsByTagName("tr");
	//console.log(filter, tr.length );
  for (i = 0; i < trs.length; i++) {
  	//console.log(trs[i]);
    td = trs[i].cells[col-1];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        trs[i].style.display = "";
      } else {
        trs[i].style.display = "none";
      }
    }
  }
}
</script>
{% endblock %}