{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
	{{ import('datatables') }}
{% endblock %}


{# My Own js and css #}
{% block css_custom %}
{% endblock %}

{% block js_custom %}
{% endblock %}


{# Embedded CSS #}
{% block css_embedded %}
{% endblock %}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
<script>
$(function () {
  $('[data-toggle="popover"]').popover({
		html:true
	});
	$('.popover-dismiss').popover({
  	trigger: 'focus'
	})
});

$(document).ready( function () {
	$(tblSelector).DataTable();
});
</script>
{% endblock %}


{# Embedded Javascript At the Very End #}
{% block js_embedded_after %}
{% endblock %}