{% extends framework_template %}

{# Clear out the whole content #}
{% block navbar_global %}{% endblock %}{% block footer %}{% endblock %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
{{ import('sketch') }}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# My Own js and css #}
{% block css_custom %}
	{% include (request.blueprint, 'includes', 'index_css.html')|join('/') %}
{% endblock %}

{% block js_custom %}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded CSS #}
{% block css_embedded %}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded Javascript At the Very End #}
{% block js_embedded_after %}
	{% set user = session['user_name'] %}
	{% if user %}
	{% include (request.blueprint, 'includes', 'index_js_login.html')|join('/') %}
	{% else %}
	{% include (request.blueprint, 'includes', 'index_js_logout.html')|join('/') %}
	{% endif %}
{% endblock %}
{# ------------------------------------------------------------------- #}
