{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
{#{{ import('sketch') }}#}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# My Own js and css #}
{% block css_custom %}
{% endblock %}

{% block js_custom %}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded CSS #}
{% block css_embedded %}
<style>
svg {
    display: block;
    font: 12em 'Montserrat';
    width: 960px;
    height: 100px;
    margin: 0 auto;
}
@media (min-width: 280px) {
  svg {
    max-width: 280px;
  }
}
@media (min-width: 576px) {
  svg {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  svg {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  svg {
    max-width: 960px;
  }
}

.svg_anime_text {
    fill: none;
    stroke: #ffffff;
    stroke-dasharray: 7% 28%;
    stroke-width: 6px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 8s infinite linear;
		-webkit-animation: stroke-offset 8s infinite linear;
}

.svg_anime_text:nth-child(1){
	stroke: #e8683c;
	animation-delay: -1s;
}
.svg_anime_text:nth-child(2){
	stroke: #f2c078;
	animation-delay: -2s;
}
.svg_anime_text:nth-child(3){
	stroke: #faedca;
	animation-delay: -3s;
}
.svg_anime_text:nth-child(4){
	stroke: #e39db6;
	animation-delay: -4s;
}
.svg_anime_text:nth-child(5){
	stroke: #c1dbb3;
	animation-delay: -5s;
}
.svg_anime_text:nth-child(6){
	stroke: #89d8be;
	animation-delay: -6s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}
</style>
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
{% endblock %}
{# ------------------------------------------------------------------- #}


{# Embedded Javascript At the Very End #}
{% block js_embedded_after %}
{% endblock %}
{# ------------------------------------------------------------------- #}