{% extends framework_template %}

{# Addiditonal Libraries #}
{% block css_optional %}
{% endblock %}

{% block js_optional %}
{{ import('vue') }}
{% endblock %}


{# My Own js and css #}
{% block css_custom %}
{% endblock %}

{% block js_custom %}
{{ bp_js('starshipit_unshipped_orders') }}
{% endblock %}


{# Embedded CSS #}
{% block css_embedded %}
{% endblock %}


{# Embedded Javascript After Libraries & Before Custom Javascript #}
{% block js_embedded_before %}
{% endblock %}


{% block js_embedded_after %}
{% endblock %}
