/* ---------------------------------------------------
    General Purpose
----------------------------------------------------- */
$body-bg-color: #8efff8;


body {
  padding-top: 4rem;  // Leaving Space for Fixed NavBar
  //padding-bottom: $footer_height;
  // Flushing footer to bottom
  // position: relative;
  // padding-bottom: 6rem;
  min-height: 100%;
}
