/* ---------------------------------------------------
    General Purpose
----------------------------------------------------- */
$body-bg-color: #8efff8;


body {
  padding-top: 4rem;  // Leaving Space for Fixed NavBar
  //padding-bottom: $footer_height;
  // Flushing footer to bottom
  position: relative;
  padding-bottom: 6rem;
  min-height: 100%;
}


// Navbar Hover effect

.nav-link.active{
  color: #33fe61;
}

.nav-item::after{
  content:'';
  display:block;
  width:0;
  height:2px;
  background: #33fe61;
  transition: 0.2s;
}

.nav-item a:hover {
  transition-duration: 0.4s;
}

.nav-item:hover::after{
  width:100%;
}

.nav-item a:hover::after{
  color: #33fe61;
}


// Custom Navbar Toggler
.navbar-dark .custom-toggler.navbar-toggler {
  border-color: rgba(230, 255, 253, 0.25);
}
.navbar-dark .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(50,255,97, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
