$navbar-highlight-color: #f5de50;
$navbar-highlight-bg-color: #4f9da6;
$navbar-bg-color: #5f5f5f;
$navbrand-color: #fefefe;
$hamberger-width: 25px;
$hamberger-height: 3px;

#navbar-global {
	background: $navbar-bg-color;
	font-family: Verdana,arial,x-locale-body,sans-serif;
	opacity: 0.9;

	.navbar-brand{
		color: $navbrand-color;
		font-family: Impact, Charcoal, sans-serif;
	}

	.navbar-nav {
		// Style for each individual nav item(<li>) on the nav-bar(<ul>)
		.nav-item {
			&.active{
				.nav-link {
					text-shadow: 5px 5px 10px  $navbar-highlight-color;
				}
				.nav-link:hover {
					text-shadow: 5px 5px 10px #CDDC39;
					color:#CDDC39;
				}
			}

			&:not(.active){
				&::after {
					content: '';
					display: block;
					width: 0%;
					height: 1px;
					background: $navbar-highlight-color;
					transition: 0.2s;
				}
				&:hover::after {
					width: 100%;
				}
				.nav-link:hover {
					text-shadow: 5px 5px .4rem $navbar-highlight-color;
					color: rgba(255,255,255,1);
				}
			}


			// Reveal the dropdown on mouse hovering
			&.dropdown:hover > .dropdown-menu {
				// display: block;
			}

			// Hide the dropdown on mouse not hovering(preventing it from showing if the nav-item was clicked instead of hovered)
			&.dropdown:not(:hover) > .dropdown-menu {
			  // display: none;
			}

			// Navlink is the level1 narbar item that show directly one the bar, this class applies to <a> tag
			.nav-link {
				font-family: 'Roboto', sans-serif;
				text-transform: uppercase;
				color: rgba(255,255,255,0.45);

				&.active {
					color: $navbar-highlight-color;
				}

				&:not(.active) &:hover  {
					transition-duration: 0.2s;
				}
			}//END OF .nav-link

			.dropdown-menu{
				.dropdown-item {
					&.active{
						color: $navbar-highlight-color;
						background: $navbar-highlight-bg-color;
					}
					&:hover {
						color: #228c7b;
						background: $navbar-highlight-color;
					}
					&.active:hover {
						color: #51e898;
						background: $navbar-highlight-bg-color;
					}
				}//END OF .dropdown-item
			}//END OF .dropdown-menu

		}//END OF .nav-item
	}//END OF .navbar-nav

	.custome-toggler {
		opacity: 0.75;
		border: none;

		&:focus, &:active {
			outline: 0;
		}

		span {
			display: block;
			background-color: $navbrand-color;
			height: $hamberger-height;
			width: $hamberger-width;
			margin-top: 4px;
			margin-bottom: 4px;
			position: relative;
			left: 0;

			-webkit-transition: transform .35s ease-in-out;
			-moz-transition: transform .35s ease-in-out;
			-o-transition: transform .35s ease-in-out;
			transition: transform .35s ease-in-out;

			&:nth-child(2) {
				width: $hamberger-width - 5px;
			}
			&:nth-child(3) {
				width: $hamberger-width - 10px;
			}
		}

		&:hover {
			span{
				&:nth-child(2), &:nth-child(3){
					width: $hamberger-width;
					transition: ease all .2s;
				}
			}
		}

		&:not(.collapsed) {
			span {
				background-color:  $navbar-highlight-color;
				&:nth-child(1) {
					width: $hamberger-width ;
					-webkit-transform: rotate(45deg) translate(5px, 5px);
					-moz-transform: rotate(45deg) translate(5px, 5px);
					-o-transform: rotate(45deg) translate(5px, 5px);
					transform: rotate(45deg) translate(5px, 5px);
				}
				&:nth-child(2) {
					visibility: hidden;
				}
				&:nth-child(3) {
					width: $hamberger-width;
					-webkit-transform: rotate(-45deg) translate(5px, 5px);
					-moz-transform: rotate(-45deg) translate(5px, 5px);
					-o-transform: rotate(-45deg) translate(5px, 5px);
					transform: rotate(-45deg) translate(5px, -5px);
				}
			}
		}
	}

}//END OF #navbar-globalv
