$switch-ball-size: 15px;
$switch-gap-width: 4px;
$switch-gap-height: 4px;
$switch-travel-width: 26px;
$switch-travel-time:.4s;

/* The switch - the box around the slider */
.switch {
  position: relative;
	display: inline-block;
	height: $switch-ball-size + $switch-gap-height * 2;
	width: $switch-ball-size + $switch-travel-width + $switch-gap-width * 2;
  //float:right;

	/* Hide default HTML checkbox */
	input {
		display: none;

		/* Color Schemes */
		&.switch-default:checked + .switch-slider{
			background-color: #444;
		}
		&.switch-primary:checked + .switch-slider {
		  background-color: #2196F3;
		}
		&.switch-secondary:checked + .switch-slider {
		  background-color: #7d8387;
		}
		&.switch-success:checked + .switch-slider {
		  background-color: #8bc34a;
		}
		&.switch-info:checked + .switch-slider {
		  background-color: #3de0f5;
		}
		&.switch-warning:checked + .switch-slider {
		  background-color: #FFC107;
		}
		&.switch-danger:checked + .switch-slider {
		  background-color: #f44336;
		}
		&.switch-dark:checked + .switch-slider {
		  background-color: #000000;
		}

		&:focus + .switch-slider {
		  box-shadow: 0 0 1px #2196F3;
		}

		&:checked + .switch-slider:before {
			-webkit-transform: translateX($switch-travel-width);
			-ms-transform: translateX($switch-travel-width);
			transform: translateX($switch-travel-width);
			content: "";
			background-color: #fff9ea;
		}

	}
}

/* The slider */
.switch-slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: $switch-travel-time;
	transition: $switch-travel-time;

	&:before {
	  position: absolute;
	  height: $switch-ball-size;
	  width: $switch-ball-size;
	  left: $switch-gap-width;
	  bottom: $switch-gap-height;
		content: "";
		font-size: 0.5rem;
		text-align: center;
	  background-color: white;
	  -webkit-transition: $switch-travel-time;
	  transition: $switch-travel-time;
	}

	/* Rounded sliders */
	&.round {
		border-radius: 34px;
		&:before {
			border-radius: 50%;
		}
	}
}



$fat-switch-ball-size: 15px;
$fat-switch-default-color: #777;

.fat-switch {
	display:inline-block;
	.label {
		&.off {
			color: $fat-switch-default-color;
		}
		&.on {
			color: limeGreen;
		}
	}
	.switch {
		display:inline-block;
		width:$fat-switch-ball-size * 2;
		height:$fat-switch-ball-size;
		margin:0.4rem;
		transform:translateY(50%);
		position:relative;

		input {
			display:none;
			&:checked {
				+ .slider:before {
					transform:translateX($fat-switch-ball-size);
					background:limeGreen;
				}
				+ .slider {
					box-shadow:0 0 0 2px limeGreen,0 0 2px limeGreen;
				}


			}
		}

		.slider {
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			border-radius:$fat-switch-ball-size;
			box-shadow:0 0 0 2px $fat-switch-default-color, 0 0 4px $fat-switch-default-color;
			cursor:pointer;
			border:4px solid transparent;
			overflow:hidden;
			transition:.4s;

			&:before {
				position:absolute;
				content:"";
				width:100%;
				height:100%;
				background:$fat-switch-default-color;
				border-radius:30px;
				transform:translateX(-$fat-switch-ball-size);
				transition:.4s;
			}
		}

	}
}
