{% extends '_blueprint.html' %}


{% block css_framework %}{% endblock %}
{% block css_optional %}{% endblock %}
{% block css_custom %}
{#	{{ bp_css('index') }}#}
{% endblock %}

{% block js_framework %}{% endblock %}
{% block js_optional %}{% endblock %}
{% block js_custom %}{% endblock %}

{% block title %}{% if title %}{{ title }}{% else %}Home{% endif %}{% endblock %}


{% block css_embedded %}
	{{ bp_include('index_css.html') }}
{% endblock %}

{% block main %}
	{{ bp_content('index.html') }}
{% endblock %}


{% block js_embedded_before %}
	{{ import('sketch') }}
{% endblock %}

{% block js_embedded_after %}

	{% set user = session['user_name'] %}
	{% if user %}
	{{ bp_include('index_js_login.html') }}
	{% else %}
	{{ bp_include('index_js_logout.html') }}
	{% endif %}
{% endblock %}