{% extends '_frameworked.html' %}

{% block js_framework %}
{{ super() }}
<script src="{{ url_for('static',filename= 'js/main.js') }}"></script>
{% endblock %}

{# Clear out css except for framework ones #}
{% block css_optional %}{% endblock %}
{% block css_custom %}{% endblock %}
{% block css_embedded %}{% endblock %}

{# Clear out javascript except for framework ones #}
{% block js_optional %}{% endblock %}
{% block js_custom %}{% endblock %}
{% block js_embedded_before %}{% endblock %}
{% block js_embedded_after %}{% endblock %}


{# tile comes from render_template 'title' keyword argument #}
{% block title %}{% if title %}{{ title }}{% else %}{{ current_blueprint_name }}{% endif %}{% endblock %}

{# Nav Bar #}
{% block navbar_global %}{% include '_includes_global/_global_nvabar.html' %}{% endblock %}

{# Blueprint Overirde Main and redefine content #}
{% block main %}
	{{ request.blueprint}}

{#<div class="wrapper">#}
{#	{{ include_global('_global_sidebar') }}#}
{##}
{#	<div id="content">#}
{#			<button type="button" id="sidebarCollapse" class=" ">{{ svg('nav_collapse') }}</button>#}
{#			 NavBar Secondaries #}
{#			{% block navbar_local %}{% endblock %}#}
{#			 Nav Bar #}
{#			{% block content %}{% endblock %}#}
{#			 Footer #}
{#			{% block footer %}{{ include_global('_global_footer') }}{% endblock %}#}
{##}
{#	</div>#}
{##}
{#	<div class="overlay"></div>#}
{#</div>#}

<div id="wrapper">
		<!-- Sidebar -->
	<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
					<li class="sidebar-brand">
							<a href="/">One Picture</a>
					</li>

					<li>
							<a href="{{ url_for('dictionary.index') }}">Dictionary</a>
					</li>

					<li>
							<a href="#nav-group-mailbox" data-toggle="collapse" aria-expanded="false">Mailbox</a>
							<ul class="collapse list-unstyled" id="nav-group-mailbox">
									<li><a href="{{ url_for('mailbox.index') }}">today</a></li>
									<li><a href="{{ url_for('mailbox.daily') }}">daily</a></li>
									<li><a href="{{ url_for('mailbox.monthly') }}">Monthly</a></li>
							</ul>
					</li>

				<li>
						<a href="#nav-group-privenue" data-toggle="collapse" aria-expanded="false">Private Revenue</a>
						<ul class="collapse list-unstyled" id="nav-group-privenue">
								<li><a href="{{ url_for('privenue.index') }}">Overview</a></li>
								<li><a href="{{ url_for('privenue.pending') }}">Pending Batches</a></li>
						</ul>
				</li>

				<li>
						<a href="#nav-group-merchandise" data-toggle="collapse" aria-expanded="false">Merchandise</a>
						<ul class="collapse list-unstyled" id="nav-group-merchandise">
								<li><a href="{{ url_for('merchandise.upload') }}">RFM Analysis</a></li>

						</ul>
				</li>


					<li>
							<a href="{{ url_for('api.index') }}">API</a>
					</li>
			</ul>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">
		<a href="#menu-toggle" class="btn btn-info" id="menu-toggle">Toggle</a>
		{% block navbar_local %}{% endblock %}
		{% block content %}{% endblock %}
		{% block footer %}{{ include_global('_global_footer') }}{% endblock %}
	</div>
	<!-- /#page-content-wrapper -->

</div>


{% endblock %}


{#
	Param: 'current_blueprint_name': a blueprint context_processor variable name
	refering to the current blueprint's name attribute

	with this name the follwing macros know about which is the current
	blueprint it's dealing with thus accessing it's standard folder
	structure :
	blueprint/templates/blueprint
	blueprint/static/css
	blueprint/static/js
#}

{# Macros that will be used in each indiviual templates #}

{% set current_blueprint_name = request.blueprint  %}

{% macro bp_include(fname) %}
	{% include current_blueprint_name + '/' + 'includes' + '/' + fname %}
{% endmacro %}

{% macro bp_content(fname, format='.html') %}
	{% include current_blueprint_name + '/' + 'contents' + '/' + fname %}
{% endmacro %}

{% macro bp_js(fname) %}
	{# ! [url_prefix] needed for blueprint.static to work #}
	<script src="{{ url_for(current_blueprint_name + '.static', filename='js' + '/' + fname + '.js') }}"></script>
{% endmacro %}

{% macro bp_css(fname) %}
	{# ! [url_prefix] needed for blueprint.static to work #}
	<link rel="stylesheet" type="text/css" href="{{ url_for(current_blueprint_name + '.static', filename='css' + '/' + fname + '.css') }}">
{% endmacro %}


{# Import global libraries #}
{% macro include_global(file, file_type='.html') %}
	{% include ('_includes_global' + '/' + file + file_type) %}
{% endmacro %}

{# Import svg #}
{% macro svg(file, file_type='.html') %}
	{% include ('_svg' + '/' + file + file_type) %}
{% endmacro %}


{# Import global libraries #}
{% macro import(vendor, vendor_subs=[]) %}
	{% if vendor == 'echart' %}
		<script src="{{ url_for('vendor', filename='echarts-en.min.js') }}"></script>

	{% elif vendor == 'highchart' %}
		<script src="{{ url_for('hc', filename='highcharts.js') }}"></script>
		<script src="{{ url_for('hc', filename='exporting.js') }}"></script>
		{% if vendor_subs %}
			{% for vsub in vendor_subs %}
			<script src="{{ url_for('hc', filename=vsub+'.js') }}"></script>
			{% endfor %}
		{% endif %}

	{% elif vendor == 'sketch' %}
		<script src="{{ url_for('vendor', filename='sketch.min.js') }}"></script>
	{% else %}
	{% endif %}
{% endmacro %}