{% extends '_skeleton.html' %}


{% block css_framework %}
<link rel="stylesheet" type="text/css" href="{{ url_for('vendor',filename= 'font-awesome.min.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/main.min.css') }}">
{% endblock %}


{% block js_framework %}
<script src="{{ url_for('vendor',filename= 'jquery.min.js') }}"></script>
<script src="{{ url_for('vendor',filename= 'popper.min.js') }}"></script>
<script src="{{ url_for('vendor',filename= 'bootstrap.min.js') }}"></script>
{% endblock %}