{% extends '_skeleton.html' %}

{% block css_framework %}
{#<link rel="stylesheet" type="text/css" href="{{ url_for('vendor',filename= 'jquery.mCustomScrollbar.css') }}">#}
<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename= 'css/main.min.css') }}">


{% endblock %}


{% block js_framework %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{url_for('vendor', filename='jquery.min.js') }}">\x3C/script>')</script>
{#<script src="{{ url_for('vendor',filename= 'jquery.min.js') }}"></script>#}
<script src="{{ url_for('vendor',filename= 'popper.min.js') }}"></script>
<script src="{{ url_for('vendor',filename= 'bootstrap.min.js') }}"></script>
{#<script src="{{ url_for('vendor',filename= 'jquery.mCustomScrollbar.concat.min.js') }}"></script>#}
{% endblock %}
