{% extends '_skeleton.html' %}

{# tile comes from render_template 'title' keyword argument #}
{% block title %}{% if title %}{{ title }}{% else %}{{ request.endpoint }}{% endif %}{% endblock %}

{% block js_embedded_header %}
<script type=text/javascript>
//Sets a global variable to the prefix to the root of the application
const $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
const $FY_MONTH_LIST = {number: {{ fymths }}, short: {{ fymths|map("mthname", abbr=True)|list|safe }}, long: {{ fymths|map("mthname", abbr=false)|list|safe }}};
const $CFY = {{ cfy }};
const $FY_MONTH_LIST_NUMBER = {{ fymths }};
const $FY_MONTH_LIST_NAME = {{ fymths|map("mthname", abbr=True)|list|safe }};


// Build endpoint String
const endpoint = (url, parameter) => $SCRIPT_ROOT + url + (parameter ? parameter : '');

// Using Fetch API to grab JSON Data
const fetchJSON = (endpoint, func, silent=false) => {
	function checkStstus(response) {
		if (!silent){ console.log('✓ Response received', response); }
		if (response.status >= 200 && response.status < 300) {
			if (!silent){ console.log('✓ Response status success (' + response.status + '), Promise.resolve response ... '); }
			return Promise.resolve(response)
		} else {
			console.log('✘ Response Status Failed, Promise.reject response now ...');
			return Promise.reject(new Error(response.statusText))
		}
	}

	function toJSON(response) {
		return response.json()
	}

	if (!silent){ console.log('➠ Fetching Endpoint: ', endpoint); }
	fetch(endpoint)
		.then(checkStstus)
		.then(toJSON)
		.then(jsonData => {
			if (!silent){ console.log('✓ JSON data converted'); }
			// console.log(jsonData);
			// ---------------------------------------------------------------------------------
			// Call Processing Function
			func(jsonData);
			// ---------------------------------------------------------------------------------
			if (!silent){ console.log('✓ JSON data processed for endpoint: ' + endpoint); }
		}).catch((error) => { console.log('✘ Request Failed', endpoint, error); });
};



// simple cumulative sum in javascript
function cumsum(v) {
	let r = [v[0]];
	for(let i = 1; i < v.length; i++) {
		r[i] = r[i - 1] + v[i];
	}
	return r;
}

// Sort An Array By its Object's Attribute and return the Array
function sortByAttribute(arr, attributeName){
	return arr.sort((a, b) => {return  (a[attributeName] < b[attributeName]) ? -1 : ((a[attributeName] > b[attributeName]) ? 1 : 0)});
}

<!-- Formatters -->
function dAU(date) {
	return date.toLocaleDateString("en-AU", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
}
function currency(val) {
	return '$' + String(val.toFixed(2)).split("").reverse().join("")
                  .replace(/(\d{3}\B)/g, "$1,")
                  .split("").reverse().join("");
}
</script>
{% endblock %}


{#
	Param: 'current_blueprint_name': a blueprint context_processor variable name
	refering to the current blueprint's name attribute, or this can also be retreived
	from request.blueprint if request object exists(hence not suitable for error
	handling templates)

	with 'current_blueprint_name' given, the follwing macros know about which is the current
	blueprint it's dealing with thus accessing it's standard folder structure(assuming same folder
	structure for all blueprints) as follow:

	blueprint/templates/blueprint_name/*.html
	blueprint/templates/blueprint_name/includes/*.html
	blueprint/templates/blueprint_name/contents/*.html
	blueprint/static/css/*.css
	blueprint/static/js/*.js
#}

{# Macros that will be used in each indiviual blueprint templates #}
{# request.blueprint will be None if this template is not rendered from Flask Buleprint Module  #}
{% set current_blueprint_name = request.blueprint  %}

{% macro bp_css(fname, file_type='.css') %}
	{# ! [url_prefix] needed for blueprint.static to work #}
<link rel="stylesheet" type="text/css" href="{{ url_for(current_blueprint_name + '.static', filename='css' + '/' + fname + file_type) }}">
{% endmacro %}

{% macro bp_js(fname, file_type='.js') %}
	{# ! [url_prefix] needed for blueprint.static to work #}
<script src="{{ url_for(current_blueprint_name + '.static', filename='js' + '/' + fname + file_type) }}"></script>
{% endmacro %}

{# IMPORT SVG #}
{% macro svg(file, file_type='.html') %}
	{% include ('_svg' + '/' + file + file_type) %}
{% endmacro %}
{# IMPORT CSS LOADER #}
{% macro loader(file, file_type='.html') %}
	{% include ('_loader' + '/' + file + file_type) %}
{% endmacro %}







{# Import global libraries #}
{% macro import(vendor, vendor_optionals=[]) %}
{# -------------------- echart.js -------------------- #}
	{% if vendor == 'echart' %}
	<script src="{{ url_for('vendor', filename='echarts-en.min.js') }}"></script>

{# -------------------- chart.js -------------------- #}
	{% elif vendor == 'chart.js' %}
		{% set namePackageJSON='chart.js' %}
		{% if config['CHARTJS_SERVE_LOCAL'] %}
<script src="{{ url_for('vendor', filename='Chart.bundle.min.js') }}"></script>
		{% else %}
			{% if config['CHARTJS_USE_PACKAGE_JSON_VERSION'] %}
<script src="{{ config['CHARTJS_BASE_CDN'].format(versionNPM(namePackageJSON)) }}"></script>
			{% else %}
<script src="{{ config['CHARTJS_BASE_CDN'].format(config['CHARTJS_VERSION']) }}"></script>
			{% endif %}
		{% endif %}

{# -------------------- lodash.js -------------------- #}
	{% elif vendor == 'lodash' %}
	<script src="{{ url_for('vendor', filename='lodash.min.js') }}"></script>

{# -------------------- lodash.js -------------------- #}
	{% elif vendor == 'd3' %}
	<script src="{{ url_for('vendor', filename='d3.min.js') }}"></script>

{# -------------------- vue.js -------------------- #}
	{% elif vendor == 'vue' %}
	<script src="{{ url_for('vendor', filename='vue.min.js') }}"></script>
	<script>
			Vue.options.delimiters = ['<<', '>>'];
			const vueBus = new Vue();
			Object.defineProperties(Vue.prototype, {
				$eventBus: {
					get: function(){
						return vueBus
					}
				}
			});
			Vue.filter('currency', (val, dec=2, sign='$') => isNaN(val) ? val : sign + String(val.toFixed(dec)).split("").reverse().join("").replace(/(\d{3}\B)/g, "$1,").split("").reverse().join(""));
			Vue.filter('number', (val, showZero=true,dec=0) => isNaN(val) ? val : (!showZero && val===0) ? null : (String((val).toFixed(dec)).split("").reverse().join("").replace(/(\d{3}\B)/g, "$1,").split("").reverse().join(""))) ;
			Vue.filter('pct', (val, dec=1) => {
				if (isNaN(val) ){
					return val
				}else{
					if ( val === 1 ){
						return '100%'
					}else if( val === 0 ) {
						return '0%'
					}else{
						return  String((val*100).toFixed(dec)).split("").reverse().join("").replace(/(\d{3}\B)/g, "$1,").split("").reverse().join("") + '%'
					}
				}
	  	});
			Vue.filter('dAU', val => !val? null : new Date(val).toLocaleDateString("en-AU", {timeZone: "UTC", year: 'numeric', month: 'short', day: 'numeric' }));
			Vue.filter('tAU', val => !val? null : new Date(val).toLocaleTimeString("en-AU", {timeZone: "UTC", hour:'numeric', minute:'numeric', second:'numeric' }));
			Vue.filter('dtAU', val => !val? null : new Date(val).toLocaleDateString("en-AU", {timeZone: "UTC", year: 'numeric', month: 'long', day: 'numeric', hour:'numeric', minute:'numeric', second:'numeric'}));
			let vueLoader = Vue.component('vueLoader', {
				props: ['msg'],
				template: `
				<div class="row"><div class="col">
						<div class="alert alert-light text-center" role="alert">
							<p class="lead">&#128270; << msg >></p>
							<div class="container h-100">
								<div class="row h-100 justify-content-center align-items-center">
									<div class="lds-hourglass"></div>
								</div>
							</div>
						</div>
				</div></div>`
			});
	</script>

{# -------------------- crossfilter.js -------------------- #}
	{% elif vendor == 'crossfilter' %}
	<script src="{{ url_for('vendor', filename='crossfilter.min.js') }}"></script>

{# -------------------- sketch.js -------------------- #}
	{% elif vendor == 'sketch' %}
	<script src="{{ url_for('vendor', filename='sketch.min.js') }}"></script>

{# -------------------- sketch.js -------------------- #}
	{% elif vendor == 'moment' %}
	<script src="{{ url_for('vendor', filename='moment.min.js') }}"></script>


{# -------------------- datatable -------------------- #}
	{% elif vendor == 'datatables' %}
	<script src="{{ url_for('vendor', filename='jquery.dataTables.min.js') }}"></script>
		{% if vendor_optionals %}
			{% for opt in vendor_optionals %}
				{% if opt == 'bs4' %}
				<script src="{{ url_for('vendor', filename='dataTables.bootstrap4.min.js') }}"></script>
				<link rel="stylesheet" type="text/css" href="{{ url_for('vendor', filename='dataTables.bootstrap4.min.css') }}">
				{% elif opt == 'buttons' %}
				<script src="{{ url_for('vendor', filename='buttons.dataTables.min.js') }}"></script>
				{% endif %}
			{% endfor %}
	<script>
	function applyDataTable(id, domString="sit", options={}) {
		$(document).ready( function () {
			let tblID = '#' + id;
			// Using Data Table API
			let table = $(tblID).DataTable(
				Object.assign({
					stateSave: false,
					dom: domString,
					lengthMenu: [[-1, 3, 5, 7, 10, 15, 20, 25, 50, 100 ], [ "All", 3, 5, 7, 10, 15, 20, 25, 50, 100 ]],
				}, options)
			);
			// Vanilla JavaScript
			if (domString.indexOf('s')!==-1){
				let clone, input;
				let header = document.querySelector(tblID + ' thead');
				let tr = document.querySelector(tblID + ' thead tr');
				if (header.children.length === 1){
					clone = tr.cloneNode(true);
					header.appendChild(clone);
				 	for (let i=0; i<clone.children.length; i++ ) {
						let th = clone.children[i];
						let title = th.innerHTML.trim();
						th.classList.remove('sorting', 'sorting_asc', 'sorting_desc');
						th.innerHTML = '<input type="text" placeholder="' + "&#128269;" + "" + '"/>';
						input = th.children[0];
						input.style.width = th.style.width === '0px' ? tr.style.width : th.style.width;
						input.style.height = '1.5rem';
						th.children[0].addEventListener('keyup', function(){
							// Using Data Table API
							if ( table.column(i).search() !== this.value ){
								table.column(i).search(this.value).draw();
							}
						});
					}
				}
			}
		});
	}
	</script>
		{% else %}
			<link rel="stylesheet" type="text/css" href="{{ url_for('vendor', filename='jquery.dataTables.min.css') }}">
		{% endif %}

	{# -------------------- tabulator.js -------------------- #}
	{% elif vendor == 'tabulator' %}
	<script src="{{ url_for('vendor', filename='tabulator.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('vendor', filename='tabulator.min.css') }}">

	{% else %}
		{# Do Nothing	#}
	{% endif %}
{% endmacro %}






{# High Chart #}
{% macro Highchart(bases=None, modules=None, CSM=(true,false,false)) %}
	{% set defaultBases, defaultModules = [], ['exporting','export-data'] %}
	{% if bases %}{% set bases = defaultBases|list + bases|list %}{% else %}{% set bases = defaultBases %}{% endif %}
	{% if modules %}{% set modules = defaultModules|list + modules|list %}{% else %}{% set modules = defaultModules %}{% endif %}


	{# ---------- Serve from local files ---------- #}
	{% if config['HIGHCHART_SERVE_LOCAL'] %}
		{# Basic Includes	#}
		{% set JSPath = config['HIGHCHART_LOCAL_JS_PATH'] %}
		{% if CSM[0] %}<script src="{{ url_for('static', filename=JSPath.format('highcharts')) }}"></script>{% endif %}
		{% if CSM[1] %}<script src="{{ url_for('static', filename=JSPath.format('highstock')) }}"></script>{% endif %}
		{% if CSM[2] %}<script src="{{ url_for('static', filename=JSPath.format('highmaps')) }}"></script>{% endif %}

		{# Other Level1 Includes #}
		{% if bases %}{% for base in bases %}
		<script src="{{ url_for('static', filename= JSPath.format(base)) }}"></script>
		{% endfor %}{% endif %}
		{# Modules #}
		{% if modules %}{% for module in modules %}
		<script src="{{ url_for('static', filename=JSPath.format(module)) }}"></script>
		{% endfor %}{% endif %}


	{# ---------- Serve from CDN ---------- #}
	{% else %}
		{% if config['HIGHCHART_USE_PACKAGE_JSON_VERSION'] %}
			{% set version=versionNPM('highcharts') %}{% else %}
			{% set version=config['HIGHCHART_VERSION'] %}
		{% endif %}
		{# Basic Includes	#}
		{% if CSM[0] %}<script src="{{ config['HIGHCHART_BASE_CDN'].format(version,'highcharts') }}"></script>{% endif %}
		{% if CSM[1] %}<script src="{{ config['HIGHSTOCK_BASE_CDN'].format(version,'highstock') }}"></script>{% endif %}
		{% if CSM[2] %}<script src="{{ config['HIGHMAP_BASE_CDN'].format(version,'highmaps') }}"></script>{% endif %}

		{# Other Level1 Includes #}
		{% if bases %}{% for base in bases %}
		<script src="{{ config['HIGHCHART_BASE_CDN'].format(version,base) }}"></script>
		{% endfor %}{% endif %}
		{# Modules #}
		{% if modules %}{% for module in modules %}
		<script src="{{ config['HIGHCHART_MODLUE_CDN'].format(version,module) }}"></script>
		{% endfor %}{% endif %}
	{% endif %}

{# Set High Chart Global Defaults #}
<script type="text/javascript">
console.log('✓ Highchart ready to serve: ', "{{ bases|safe }}{{ modules|safe }}");
Highcharts.setOptions({
	lang: {
		decimalPoint: '.',
		thousandsSep: ',',
		downloadCSV: 'Download CSV',
		downloadXLS: 'Download XLS',
		viewData: 'Toggle data table'
	},
	credits: {
		enabled: true,
		text: 'ⒸTLMA',
		href: '#'
	},
	chart:{
		borderWidth:0
	},
	exporting: {
  	buttons: {
    	contextButton: {
    		symbolFill: '#666666',
      	menuItems: Highcharts.getOptions().exporting.buttons.contextButton.menuItems.filter(item => item !== 'openInCloud'),
				theme: {
					states: {
						hover: {
							fill: '#cee3f8'
						},
						select: {
							stroke: '#a1cd3d',
							fill: '#fffaec'
						}
					}
				}
    	},
  	}
	},
	navigation: {
		buttonOptions: {
			enabled: true,
			symbolStroke: '#988f8c'
		},
		menuItemHoverStyle: {
			fontWeight: 'normal',
			background: '#be0027',
			color: '#fffc00'
		}
	}
});

/**
* View the data in a table below the chart
*/
Highcharts.Chart.prototype.viewData = function () {
	if (!this.insertedTable) {
		let div = document.createElement('div');
		div.className = 'highcharts-data-table';
		// Insert after the chart container
		this.renderTo.parentNode.insertBefore(div, this.renderTo.nextSibling);
		div.innerHTML = this.getTable();
		this.insertedTable = true;
		div.id = this.container.id + '-data-table';
	}
	else {
		let elem = document.querySelector('#' + this.container.id + '-data-table');
		if(elem.style.display === 'none'){
			elem.style.display = 'block';
		}else{
			elem.style.display = 'none';
		}
	}
};

function setHighchartColors(colorList) {
	Highcharts.setOptions({
 		colors: colorList
	});
}
</script>
{% endmacro %}
