{% extends '_skeleton.html' %}


{% block js_embedded_header %}

<script type=text/javascript>
let $FY_MONTH_LIST_NUMBER = {{ fymths }};
let $FY_MONTH_LIST_NAME = {{ fymths|map("mthname", abbr=True)|list|safe }};
// Build endpoint String
function endpoint (url, parameter) {
	return $SCRIPT_ROOT + url + (parameter ? parameter : '')
}
//let endpoint = (url, parameter) => $SCRIPT_ROOT + url + (parameter ? parameter : '');


// simple cumulative sum in javascript
function cumsum(v) {
	let r = [v[0]];
	for(let i = 1; i < v.length; i++) {
		r[i] = r[i - 1] + v[i];
	}
	return r;
}

// Sort An Array By its Object's Attribute and return the Array
function sortByAttribute(arr, attributeName){
	return arr.sort((a, b) => {return  (a[attributeName] < b[attributeName]) ? -1 : ((a[attributeName] > b[attributeName]) ? 1 : 0)});
}

// Using Fetch API to grab JSON data
function fetchJSON(endpoint, func) {
	function status(response) {
		console.log(response);
		if (response.status >= 200 && response.status < 300) {
			return Promise.resolve(response)
		} else {
			return Promise.reject(new Error(response.statusText))
		}
	}
	function json(response) {
		return response.json()
	}
	console.log('Fetching Endpoint: ', endpoint);
	fetch(endpoint)
		.then(status)
		.then(json)
		.then(function (data) {
			console.log('Response To JSON: ', data);
			// ---------------------------------------------------------------------------------
			// Call Processing Function
			func(data);

		}).catch(function(error) {
    	console.log('Request failed', error);
  	});

}


// Table Filters
function filterTable(tableID, col, value="", element) {
  let filter, table, tbody, trs, td, i;
  // IF no filter value provided use calling element's value instead
	if(value === ""){
		filter = document.getElementById(element.id).value.toUpperCase().trim();
	}else{
		filter = value.toUpperCase().trim();
	}
	// Locate the Table objects
  table = document.getElementById(tableID);
	tbody = table.getElementsByTagName("tbody").item(0);
  trs = tbody.getElementsByTagName("tr");
  console.log(filter, trs.length, 'rows, searching in column', col);
	// Only show <tr> that has the value in its <td>
  for (i = 0; i < trs.length; i++) {
  	//console.log(trs[i]);
    td = trs[i].cells[col-1];
    if (td) {
      if (td.innerText.toUpperCase().indexOf(filter) > -1) {
      	// DO nothing
        //trs[i].style.display = "";
      } else {
        trs[i].style.display = "none";
      }
    }
  }
}
// Table Show All
function showTableAll(tableID){
 	let table, tbody, trs, td, i, j;
	// Locate the Table objects
  table = document.getElementById(tableID);
	tbody = table.getElementsByTagName("tbody").item(0);
  trs = tbody.getElementsByTagName("tr");
	// Show All <td> in <tr>
  for (i = 0; i < trs.length; i++) {
		trs[i].style.display = "";
  }
}


<!-- Formatters -->
const today = new Date();
function dAU(date) {
	return date.toLocaleDateString("en-AU", { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' })
}
function currency(val) {
	return '$' + String(val.toFixed(2)).split("").reverse().join("")
                  .replace(/(\d{3}\B)/g, "$1,")
                  .split("").reverse().join("");
}


</script>
{% endblock %}


{#
	Param: 'current_blueprint_name': a blueprint context_processor variable name
	refering to the current blueprint's name attribute, or this can also be retreived
	from request.blueprint if request object exists(hence not suitable for error
	handling templates)

	with 'current_blueprint_name' given, the follwing macros know about which is the current
	blueprint it's dealing with thus accessing it's standard folder structure(assuming same folder
	structure for all blueprints) as follow:

	blueprint/templates/blueprint_name/*.html
	blueprint/templates/blueprint_name/includes/*.html
	blueprint/templates/blueprint_name/contents/*.html
	blueprint/static/css/*.css
	blueprint/static/js/*.js
#}

{# Macros that will be used in each indiviual blueprint templates #}
{# request.blueprint will be None if this template is not rendered from Flask Buleprint Module  #}
{% set current_blueprint_name = request.blueprint  %}

{% macro bp_css(fname, file_type='.css') %}
	{# ! [url_prefix] needed for blueprint.static to work #}
<link rel="stylesheet" type="text/css" href="{{ url_for(current_blueprint_name + '.static', filename='css' + '/' + fname + file_type) }}">
{% endmacro %}

{% macro bp_js(fname, file_type='.js') %}
	{# ! [url_prefix] needed for blueprint.static to work #}
<script src="{{ url_for(current_blueprint_name + '.static', filename='js' + '/' + fname + file_type) }}"></script>
{% endmacro %}

{# Import svg #}
{% macro svg(file, file_type='.html') %}
	{% include ('_svg' + '/' + file + file_type) %}
{% endmacro %}


{# Import global libraries #}
{% macro import(vendor, vendor_optionals=[]) %}
{# -------------------- echart.js -------------------- #}
	{% if vendor == 'echart' %}
<script src="{{ url_for('vendor', filename='echarts-en.min.js') }}"></script>

{# -------------------- chart.js -------------------- #}
	{% elif vendor == 'chart.js' %}
		{% set namePackageJSON='chart.js' %}
		{% if config['CHARTJS_SERVE_LOCAL'] %}
<script src="{{ url_for('vendor', filename='Chart.bundle.min.js') }}"></script>
		{% else %}
			{% if config['CHARTJS_USE_PACKAGE_JSON_VERSION'] %}
<script src="{{ config['CHARTJS_BASE_CDN'].format(versionNPM(namePackageJSON)) }}"></script>
			{% else %}
<script src="{{ config['CHARTJS_BASE_CDN'].format(config['CHARTJS_VERSION']) }}"></script>
			{% endif %}
		{% endif %}

{# -------------------- sketch.js -------------------- #}
	{% elif vendor == 'sketch' %}
<script src="{{ url_for('vendor', filename='sketch.min.js') }}"></script>

{# -------------------- vue.js -------------------- #}
	{% elif vendor == 'vue' %}
<script src="{{ url_for('vendor', filename='vue.min.js') }}"></script>
<script>Vue.options.delimiters = ['<<', '>>'];</script>
	{% else %}
		{# Do Nothing	#}
	{% endif %}
{% endmacro %}



{# High Chart #}
{% macro Highchart(bases=None, modules=None, CSM=(true,false,false)) %}
	{% set defaultBases, defaultModules = [], ['exporting','export-data'] %}
	{% if bases %}{% set bases = defaultBases|list + bases|list %}{% else %}{% set bases = defaultBases %}{% endif %}
	{% if modules %}{% set modules = defaultModules|list + modules|list %}{% else %}{% set modules = defaultModules %}{% endif %}


	{# ---------- Serve from local files ---------- #}
	{% if config['HIGHCHART_SERVE_LOCAL'] %}
		{# Basic Includes	#}
		{% set JSPath = config['HIGHCHART_LOCAL_JS_PATH'] %}
		{% if CSM[0] %}<script src="{{ url_for('static', filename=JSPath.format('highcharts')) }}"></script>{% endif %}
		{% if CSM[1] %}<script src="{{ url_for('static', filename=JSPath.format('highstock')) }}"></script>{% endif %}
		{% if CSM[2] %}<script src="{{ url_for('static', filename=JSPath.format('highmaps')) }}"></script>{% endif %}

		{# Other Level1 Includes #}
		{% if bases %}{% for base in bases %}
		<script src="{{ url_for('static', filename= JSPath.format(base)) }}"></script>
		{% endfor %}{% endif %}
		{# Modules #}
		{% if modules %}{% for module in modules %}
		<script src="{{ url_for('static', filename=JSPath.format(module)) }}"></script>
		{% endfor %}{% endif %}


	{# ---------- Serve from CDN ---------- #}
	{% else %}
		{% if config['HIGHCHART_USE_PACKAGE_JSON_VERSION'] %}
			{% set version=versionNPM('highcharts') %}{% else %}
			{% set version=config['HIGHCHART_VERSION'] %}
		{% endif %}
		{# Basic Includes	#}
		{% if CSM[0] %}<script src="{{ config['HIGHCHART_BASE_CDN'].format(version,'highcharts') }}"></script>{% endif %}
		{% if CSM[1] %}<script src="{{ config['HIGHSTOCK_BASE_CDN'].format(version,'highstock') }}"></script>{% endif %}
		{% if CSM[2] %}<script src="{{ config['HIGHMAP_BASE_CDN'].format(version,'highmaps') }}"></script>{% endif %}

		{# Other Level1 Includes #}
		{% if bases %}{% for base in bases %}
		<script src="{{ config['HIGHCHART_BASE_CDN'].format(version,base) }}"></script>
		{% endfor %}{% endif %}
		{# Modules #}
		{% if modules %}{% for module in modules %}
		<script src="{{ config['HIGHCHART_MODLUE_CDN'].format(version,module) }}"></script>
		{% endfor %}{% endif %}
	{% endif %}

{# Set High Chart Global Defaults #}
<script type="text/javascript">
console.log('Highchart ready to serve: ', "{{ bases|safe }}{{ modules|safe }}");
Highcharts.setOptions({
	lang: {
		decimalPoint: '.',
		thousandsSep: ',',
		downloadCSV: 'Download CSV',
		downloadXLS: 'Download XLS',
		viewData: 'Toggle data table'
	},
	credits: {
		enabled: true,
		text: 'ⒸTLMA',
		href: '#'
	},
	chart:{
		borderWidth:0
	},
	exporting: {
  	buttons: {
    	contextButton: {
    		symbolFill: '#666666',
      	menuItems: Highcharts.getOptions().exporting.buttons.contextButton.menuItems.filter(item => item !== 'openInCloud'),
				theme: {
					states: {
						hover: {
							fill: '#cee3f8'
						},
						select: {
							stroke: '#a1cd3d',
							fill: '#fffaec'
						}
					}
				}
    	},
  	}
	},
	navigation: {
		buttonOptions: {
			enabled: true,
			symbolStroke: '#988f8c'
		},
		menuItemHoverStyle: {
			fontWeight: 'normal',
			background: '#be0027',
			color: '#fffc00'
		}
	}
});

/**
* View the data in a table below the chart
*/
Highcharts.Chart.prototype.viewData = function () {
	if (!this.insertedTable) {
		let div = document.createElement('div');
		div.className = 'highcharts-data-table';
		// Insert after the chart container
		this.renderTo.parentNode.insertBefore(div, this.renderTo.nextSibling);
		div.innerHTML = this.getTable();
		this.insertedTable = true;
		div.id = this.container.id + '-data-table';
	}
	else {
		let elem = document.querySelector('#' + this.container.id + '-data-table');
		if(elem.style.display === 'none'){
			elem.style.display = 'block';
		}else{
			elem.style.display = 'none';
		}
	}
};

function setHighchartColors(colorList) {
	Highcharts.setOptions({
 		colors: colorList
	});
}
</script>
{% endmacro %}

