<nav id="sidebar">
	<!-- Close Sidebar Button -->
	<div id="dismiss">{{ svg('arrow_left') }}</div>

	<!-- Sidebar Header -->
	<div class="sidebar-header"><h3><a href="/">One Picture</a></h3></div>

	<!-- Sidebar Links -->
	<ul class="list-unstyled components">

		<li><a href="{{ url_for('dictionary.index') }}">Dictionary</a></li>

		<li>
				<a href="#nav-group-mailbox" data-toggle="collapse" aria-expanded="false">Mailbox</a>
				<ul class="collapse list-unstyled" id="nav-group-mailbox">
						<li><a href="{{ url_for('mailbox.index') }}">today</a></li>
						<li><a href="{{ url_for('mailbox.daily') }}">daily</a></li>
						<li><a href="{{ url_for('mailbox.monthly') }}">Monthly</a></li>
				</ul>
		</li>

		<li>
				<a href="#nav-group-privenue" data-toggle="collapse" aria-expanded="false">Private Revenue</a>
				<ul class="collapse list-unstyled" id="nav-group-privenue">
						<li><a href="{{ url_for('privenue.index') }}">Overview</a></li>
				</ul>
		</li>

		<li>
				<a href="#nav-group-merchandise" data-toggle="collapse" aria-expanded="false">Merchandise</a>
				<ul class="collapse list-unstyled" id="nav-group-merchandise">
						<li><a href="{{ url_for('merchandise.upload') }}">RFM Analysis</a></li>

				</ul>
		</li>

		<li><a href="{{ url_for('api.index') }}">API</a></li>

	</ul>
</nav>